.dropdown-toggle {
    cursor: pointer;
}

.badge-cart {
    color: #fff;
    margin-left: 5px;
    background-color: #D62839;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.mg-lft-100 {
    color: #fff;
    margin-left: 100px;
}

.logo {
    width: 100px;
    position: absolute;
    margin-top: -25px;
}