<h1>Orders</h1>
<div class="row col-10 mx-auto">
    <data-table [items] = "orders" [itemCount] = "ordersCount" (reload) = "reloadOrders($event)">
        <data-table-column [property] = "'shipping.name'" [header] = "'Customer'" [sortable] = true [resizable] = true>
            <ng-template #dataTableCell let-item="item">
                {{ item.shipping.name }}
            </ng-template>
        </data-table-column>

        <data-table-column [property] = "'datePlaced'" [header] = "'Date'" [sortable] = true [resizable] = true>
            <ng-template #dataTableCell let-item="item">
                {{ item.datePlaced | date}}
            </ng-template>
        </data-table-column>

        <data-table-column [property] = "'key'" [header] = "'View'" [sortable] = true [resizable] = true>
            <ng-template #dataTableCell let-item="item">
                <a [routerLink]="['/my/orders/', item.key]">View</a>
            </ng-template>
        </data-table-column>
    </data-table>
</div>
